body,html{ 
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(lanadelray.JPG)center center;
    background-size: cover;
}
.contenedor{
    text-align: center;
    padding: 20px;
    background-color: rgb(230, 229, 194);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
.boton-redireccion{
    background-color: rgb(16, 3, 55);
    color: azure;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}
.boton-redireccion:hover{
    background-color: rgb(71, 204, 241);
}
